.login {
    /* background-image: url("https://wallpapercave.com/wp/wp2814384.jpg"); */
    background-image: url("https://wallpaperaccess.com/full/187170.jpg");
    background-size: inherit;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-position: center;
}

.login-container {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 9vh;
    padding-bottom: 4vh;
    max-width: 25%;
    min-width: 25%;
    text-align: center;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 1px 3px black, 0 1px;
}

.login-text>h1 {
    font-weight: bolder;
    font-size: 27px;
    font-family: unset;
    text-align: center;
}

.login-container>img {
    object-fit: contain;
    height: 150px;
    margin-bottom: 20px;
    margin-top: -40px;
}

.login-container > button {
    margin-top: 20px;
    font-size: small;
    padding: 4px;
    padding-left: 8vw;
    padding-right: 8vw;
    text-transform: inherit !important;
    background-color: rgb(255, 148, 194);
    color: white;
    border: none;
    border-radius: 5px;
}


.login-container > button:hover {
    box-shadow: 0 1px 3px #6e6e6e, 0 1px;
}

.login-container > p {
    color: #ff4271;
    font-size: 11px;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: -10px;
    padding-right: 150px;
    text-align: left;
}

.login-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container > h1 {
    color: #6d6977;
    font-size: 13px;
}

.login-connect > input {
    margin-bottom: 0px;
    height: 35px;
    font-size: small;
    width: 100%;
    border-radius: 5px;
    background: rgba(var(--b3f,250,250,250),1);
    border: 1px;
    flex: 1 0 auto;
    outline: 1px;
    outline-style: solid;
    outline-color: #d1d1d1;
    overflow: initial;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
  /*     -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
     -webkit-appearance: none;
    -ms-flex: 1 0 auto; */
  /*     padding: 10px; */
/*     background: #f3eded; */
}

.login-signUp > h5{
    display: inline;
    font-size: 12px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(90, 89, 89);
}

.K-1uj {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    
}

.hKTMS{
  margin: 10px 40px 18px;
}

.s311c {
  display: flex;
    background-color: rgba(var(--b38,219,219,219),1);
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;
    position: relative;
    top: 0.45em;
}

._0tv-g {
    display: flex;
    color: rgba(var(--f52,142,142,142),1);
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}

.link-signUp {
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    color: rgb(144, 131, 245);
    font-weight: bold;
    text-decoration: none;
}