.register {
    background-image: url("https://wallpaperaccess.com/full/187170.jpg");
    background-size: inherit;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;

}

.register-container {
    background-color: white;
    padding-top: 10vh;
    padding-right: 7vw;
    padding-left: 7vw;
    padding-bottom: 10vh;
    max-height: 90%;
    min-height: 90%;
/*     width: 33vw; */
    max-width: 34%;
    min-width: 32%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px black, 0 1px;
}

.register-container > h4 {
    font-weight: bolder;
    font-size: 27px;
    font-family: unset;
    height: 5vh;
}

.register-container > h6 {
    height: 5vh;
    margin-top:auto;
}

.register-connect {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-connect > input {
    align-items: center;
    margin-top: 0.5vh;
    height: 35px;
    font-size: small;
    width: 100%;
    border-radius: 5px;
    background: rgba(var(--b3f,250,250,250),1);
    border: 1px;
    flex: 1 0 auto;
    outline: 1px;
    outline-style: solid;
    outline-color: #d1d1d1;
    overflow: initial;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
}

.register-container > button {
    align-items: center;
    margin-top: 7vh;
    font-size: small;
    padding: 4px;
    padding-left: 87px;
    padding-right: 87px;
    text-transform: inherit !important;
    background-color: rgb(255, 148, 194);
    color: white;
    border: none;
    border-radius: 5px;
}

.register-container > button:hover {
    box-shadow: 0 1px 3px #6e6e6e, 0 1px;
}

.register-container > p {
    color: #ff4271;
    font-size: 11px;
    font-weight: bold;
    margin-top: -2vh;
    margin-bottom: -2vh;
    text-align: left;
}

.register-container > h1 {
    color: #6d6977;
    font-size: 13px;
    margin-bottom: 20px;
}

.register-signIn > h5{
  margin-top: -5vh;
    display: inline;
    font-size: 12px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(90, 89, 89);
}

.K-1uj {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    
}

.hKTMS{
  margin: 10px 40px 18px;
}

.s311c {
  display: flex;
    background-color: rgba(var(--b38,219,219,219),1);
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;
    position: relative;
    top: 0.45em;
}

._0tv-g {
    display: flex;
    color: rgba(var(--f52,142,142,142),1);
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}

.link-signIn {
  margin-top: -5vh;
/*     display: inline-block; */
    cursor: pointer;
    font-size: 17px;
    color: rgb(144, 131, 245);
    font-weight: bold;
    text-decoration: none;
}

