.record {
  height: 22vh;
}
.record > button{
  display:inline;
  horizontal-align: middle;
  align-items: center;
  justify-content: space-between;
  margin-left: 370px;
  margin-right: -370px;
  
}
